<!doctype Html>
<html>
    
    <head>
        <title>First html</title>
        
        <link rel ='stylesheet' href='/style/style.css'>
        
        <style>
            h2, h3, h4, h5,h6 { color: blue; }
            
            h3{cursor:pointer;}
        
        </style>
        
    </head>

    <body>
        sexy body
        
        <h1 style="color: red">header1</h1>
        
        <span>Hello World</span><br>
        <span>Good Morning</span><br>
        <span>Hola Amigos</span><br>
        <span id='firstspan'>With ID</span><br>
        <span class='group2' id='secondspan'>Second ID</span><br>
        <span class='group'>Group</span><br>
        
        <h2>header2</h2>
        <h3>header3</h3>
        <h4>header4</h4>
        <h5>header5</h5>
        <h6 class='group'>header6</h6>
        
    </body>



</html>