<!doctype Html>
<html>
    <head>
        <title>FORMS</title>
    </head>
    
    <body>
        <form name="getForm" method='POST'>
            <table>
                <tr>
                    <td>First Name</td>
                    <td>  <input type='text' name='firstname' id='firstname' value='' />  </td>
                </tr>
                
                <tr>
                    <td>Last Name</td>
                    <td> <input type='text' name='lastname' id='lastname' value='' />  </td>
                </tr>
                
                <tr>
                    <td>Address</td>
                    <td> <input type='text' name='address' id='address' value='' />   </td>
                </tr>
                  
                <tr>
                    <td>Password</td>
                    <td>  <input type='password' name='password' id='password' value='' />  </td>
                </tr>
                
                <tr>
                    <td colspan="2"> <input type='submit' value='formSubmit' />    </td>
                </tr>
            </table>
        </form>
    </body>
    
</html>