<!doctype Html>
<html>
    <head>
        <title>REFERENCE to other files</title>
        <link rel='stylesheet' href='/style/styRef.css'>
    </head>
    
    <body>
        <h1>Something something</h1>
        
        <table>
            <thead>
                <tr>
                <th>File Link</th>
                <th>Description</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                <td><a href="index.html" target="_blank">index</a></td>
                <td>this contains index.</td>
                </tr>
                
                <tr>
                    <td><a href="list.html" target="_blank">list</a></td>
                <td>this contains list.</td>
                </tr>
                
                <tr>
                    <td><a href="table.html" target="_blank">table</a></td>
                <td>this contains table.</td>
                </tr>
                
            </tbody>
        
        </table>
        
    </body>
    
</html>
